* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
.catalog {
    background: #FFFFFF;
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.catalog-items {
    max-width: 652px;
    display: flex;
    background: #fff;
}
.catalog-items:hover {
    filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
}
.catalog-items-img {
    height: 100%;
}
.catalog-items-content {
    padding: 22px 97px 62px 31px;
}
.catalog-items-content-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #222222;
    text-transform: uppercase;
    margin-bottom: 42px;
}
.catalog-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 22px;
    line-height: 26px;
}

.catalog-list-price {
    color: #575757;
}
.catalog-list-price>span {
    color: #EF5B70;
}
.catalog-list-color {
    color: #575757;
}
.catalog-list-color>span {
    color: #6F6E6E;
}
.catalog-list-size {
    color: #575757;
}
.catalog-list-size>span {
    color: #6F6E6E;
}
.catalog-list-Quantity {
    color: #575757;
}
.catalog-list-btn {
    margin-left: 24px;
    padding: 1px 16px;
    border: 1px solid #EAEAEA;
    background: #FFFFFF;
    color: #656565;
}
.cross {
    margin: 28px 22px 260px 0;
}
